{%extends "base.html"%}

{%block content%}
{{uryvky}}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="jumbotron">
                    <h3><b>Psychologické poradentství</b></h3>
                    <p class="lead">Nabízím poradenství a terapii, pro pomoc v těžkých časech</p>
                    <p class="lead"><i>(Vhodné pro jednotlivce a páry)</i></p>
                    <hr class="my-4">
                    <p>Pro více informací o poradenství a psychologii klikněte <a href="#">zde</a></p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Chci se objednat</a>
                    </p>
                </div>
                <div class="jumbotron">
                    <h3><b>O mě</b></h3>
                    <p class="lead">Mé jméno je Mgr. Jan Bernard a mám x letou praxi s řešením častých psychologických prblémů</p>
                    <hr class="my-4">
                    <p>Vzdělán v blabla bla bla. Pro více klikněte <a href="{% url 'vzdelani' %}">zde</a></p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Více info</a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                {% block card %}
                    {%include "page/card.html"%}
                {%endblock%}
            </div>
        </div>
    </div>
</div>

{%endblock%}