.uryvky{
    list-style-type: none;
    font-style: italic;
    padding: 0;
}

.card{
     background-color: #f3e0c5;
     margin-top: 5px;
}

.warm-orange{
    background-color: #e7d597;
}

header{
    margin-top: 15px;
}

h1{
    color: white;
}

nav{
    background-color: white;
}
.navbar .navbar-nav .nav-item .nav-link{
    border-right: 2px solid black;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    background-color: #ebedef;
    margin-top: auto;
}

.bg-cover {
    background-size: cover !important;
}

#intro {
      height: 100%;
      background: url('/static/img/uvodni.jpg')
    }

    /* Height for devices larger than 992px */
    @media (min-width: 992px) {
      #intro {
        height: 100%;
      }
    }

@media only screen and (min-width: 992px) {
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 0.5em;
  }
}


.seznam{
    background-image: url("/static/img/maninsuit.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    opacity: 0.75
}

div.trans {
    background-color: #e9ecef;
    color: #000000;
}

div.trans ul {
  font-weight: bold;
  color: #000080;
  opacity: 1
}

div.cont {
    color: #010000;
}

.pozadi{
    background: #dfe1e6;
}

.radius{
    border-radius: 12px;
}

#messages{
    width: 60%;
}

.blue {
    color: #6db1c9;
}
@media screen and (max-width: 767px){
    .blue{
        color: #062c9e;
    }
}

