{%extends "base.html"%}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">
            <div class="card text-center border border-dark">
                <div class="card-body">
                    <p class="card-text">
                        <ul class="uryvky">
                            <li>Jsem něžný </li>
                            <li>jsem krutý </li>
                            <li>jsem život. </li>
                            <li>Ty pláčeš? </li>
                            <li>I v slzách je síla. </li>
                            <li>Tak jdi a žij! </li>
                        </ul>
                    <p class="card-footer">
                        (John Lennon)
                    </p>
                    </p>
                </div>
            </div>
        </div>

    </div>


</div>


{%endblock%}