{%extends "testBase.html"%}

{%block content%}
<p>Test: {{test.title}}</p>

<p>

<!--  <form method="POST" enctype="multipart/form-data">-->
<!--      {{ formset.management_data }}-->
<!--    {% csrf_token %}-->
<!--    {%for q in quest%}-->
<!--      {%with forloop.counter0 as id%}-->
<!--    <p>-->
<!--      <label for="id_form-{{id}}-answer">{{q.question}}</label>-->
<!--      {%for form in formset%}-->
<!--        {%if forloop.counter0 == id%}-->
<!--          {{form.answer}}-->
<!--        {%endif%}-->
<!--      {%endfor%}-->
<!--    </p>-->
<!--    {%endwith%}-->
<!--    {%endfor%}-->
<!--    <input type="submit" value="Submit">-->
<!--  </form>-->

  <form method="POST" enctype="multipart/form-data">
      {{ formset.management_data }}
    {% csrf_token %}
      {{formset.as_p}}
    <input type="submit" value="Submit">
  </form>

{%endblock%}



