{%extends "testBase.html"%}

{%block content%}
<p>Test: {{test.title}}</p>

<i>
  {{questions}}</i>
<form method="post">
  {%csrf_token%}
  {% for q in questions %}
    <p>proste q: {{q}}</p>
    <p>q id: {{q.id}}</p>
    <p>q test id: {{q.test_id_id}}</p>
    {{form}}
    <hr>
  {% endfor %}
      <input value="dalsi" type="submit"/>
    </form>

<form method="post">
  {%csrf_token%}
  {%if button|slugify == "dalsi-otazka"%}
    <p>Otazka: {{question}}</p>
    {{form.answer}}
    <input value="{{button}}" type="submit"/>
  {%else%}
    <input value="{{button}}" type="submit"/>
  <i>Prosím berte v potaz, že už se poté nejde vrátit</i>
  {%endif%}
</form>

{%endblock%}



