{%extends "base.html"%}

{%block content%}
<div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="jumbotron">
                    <div class="trans">
                        <div class="seznam">
                    <h3><b>Psychologické poradentství</b></h3>
                    <p class="lead">Nabízím poradenství a terapii, pro pomoc v těžkých časech</p>
                    <p class="lead"><i>(Vhodné pro jednotlivce a páry)</i></p>
                    <p>Pro více informací o poradenství a psychologii klikněte <a href="#">zde</a></p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{% url 'kontakt'%}" role="button">Chci se objednat</a>
                    </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {% block card %}
                    {%include "page/card.html"%}
                {%endblock%}
            </div>
        </div>

</div>

{%endblock%}