{%extends "testBase.html"%}
{% load mathfilters %}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped">
                <tr>
                    <th>
                        Test
                    </th>
                    <td>
                        {{test.title}}
                    </td>
                </tr>
                <tr>
                    <th>
                        Počet otázek
                    </th>
                    <td>
                        {{num}}
                    </td>
                </tr>
                <tr>
                    <th>
                        Účel testu
                    </th>
                    <td>
                        {{test.description}}
                    </td>
                </tr>
            </table>
            <a class="btn btn-primary text-white">Spustit</a>
        </div>
    </div>
</div>




{%endblock%}