{%extends "base.html"%}
{% load mathfilters %}
{%block content%}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Psychologické testy</h3>
                {% for test in test_list %}
                    <div class="jumbotron">
                        <h3><b>{{ test.title }}</b></h3>
                        <p class="lead">{{test.description}}</p>
                        <hr class="my-4">

                        <p class="lead">

                        </p>
                        <form method="post">
                            {% csrf_token %}
                            {{form.user}}
                            <input type="submit"/>
                        </form>
                        <a class="btn btn-lg btn-primary" href="{% url 'test' test.id%}" role="button">Spustit test</a>
                    </div>
                {% empty %}
                    <h2>Ještě nebyly vytvořeny žádné testy</h2>
                {% endfor %}
                </div>
<!--            <div class="col-md-4">-->
<!--                {% block card %}-->
<!--                    {%include "page/card.html"%}-->
<!--                {%endblock%}-->
<!--            </div>-->
        </div>
    </div>
</div>

{%endblock%}