{%load static %}

<div class="card text-center border border-dark ">
        <div class="card-body">
            <p class="card-text">
                <ul class="uryvky">
                {% if not async %}
                    {%for informaci in informace%}
                        <li>{{informaci.titul}}  {{informaci.name}} {{informaci.surrname}}</li>
                        <li>psycholog a psychoterapeut</li>
                        <li><b>Provozovna:</b> {{ informaci.provozovna }}</li>
                        <li><b>Telefon:</b> {{ informaci.telefon }}</li>
                        <li><b>E-mail:</b> <a href="mailto:{{informaci.email}}">{{ informaci.email }}</a></li>
                        {%endfor%}
                {%else%}
                        <li>{{async_info.5}}  {{async_info.0}} {{async_info.1}}</li>
                        <li>psycholog a psychoterapeut</li>
                        <li><b>Provozovna:</b> {{ async_info.2 }}</li>
                        <li><b>Telefon:</b> {{ async_info.3 }}</li>
                        <li><b>E-mail:</b> <a href="mailto:{{async_info.4}}">{{ async_info.4 }}</a></li>
                {%endif%}
                </ul>
            </p>
        </div>
    </div>
    <div class="card text-center border border-dark">
        <div class="card-body">
            <p class="card-text">
                <ul class="uryvky">
                    <li>{{quote}}</li>
                </ul>
            <p class="card-footer">
                {{autor}}
            </p>
            </p>
        </div>
    </div>
</div>